@font-face {
  font-family: 'icomoon';
  src: url('~/assets/icomoon.ttf?4hxvif') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-polygon:before {
  content: "\e909";
}

.icon-rect:before {
  content: "\e90a";
}
.icon-docRef:before {
  content: "\e906";
}
.icon-pageRef:before {
  content: "\e907";
}
.icon-point:before {
  content: "\e908";
}
.icon-textPos:before {
  content: "\e90b";
}
.icon-textRect:before {
  content: "\e90c";
}
.icon-textSpan:before {
  content: "\e90d";
}
.icon-down-arrow:before {
  content: "\e904";
}
.icon-up-arrow:before {
  content: "\e905";
}
.icon-zoom-out:before {
  content: "\e902";
}
.icon-zoom-in:before {
  content: "\e903";
}
.icon-left-arrow:before {
  content: "\e900";
}
.icon-right-arrow:before {
  content: "\e901";
}
