$white: #FFFFFF;
$gray-light-1: #F0EFF3;

$text: #333333;
$text-light: #626668;
$text-inverted: #F0EFF3;

$bg-inverted: #626668;

$annotation: #35383A;

$selected: #4581F4;
$selected-hover: #7AA8FF;

$box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
